:root {
    /*colors*/
    --background-color: rgb(255, 242, 189);
    --white: rgb(255, 255, 255);
    --dark-rust: rgb(137, 54, 32);
    --dark-orange: rgb(183, 78, 0);
    --orange: rgb(252, 115, 0);
    --text-color-dark: rgb(81, 30, 20);
    --text-color-medium: rgb(137, 54, 32);
    --text-color-light: rgb(255, 242, 189);
    --orange-gradient: linear-gradient(var(--orange), var(--dark-orange));
    --orange-gradient-hover: linear-gradient(var(--dark-orange), var(--text-color-dark));
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
}

.hero {
    background-image: var(--orange-gradient);
}

#hero-text {
    font-weight: 300;
    font-size: 100px;
    color: var(--text-color-light);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h2 {
    font-size: 25px;
    font-weight: 700;

}

h3 {
    font-size: 20px;
}

.dark-text {
    color: var(--text-color-dark);
}

#city-input {
    background-color: var(--background-color);
    color: var(--text-color-dark);
    outline: solid var(--dark-rust);
    font-weight: 600;
}

.btn {
    font-weight: 600;
    border-radius: 5px;
    outline: solid var(--dark-orange);
    font-size: 25px;
}

.btn:hover {
    background-image: var(--orange-gradient-hover);
    color: var(--text-color-light);
    outline: solid var(--text-color-dark);
}

.search-btn {
    background-image: var(--orange-gradient);
    color: var(--text-color-light);
}

.recient-btn {
    background-color: var(--background-color);
    color: var(--text-color-medium);
}

#weather-today {
    border: solid 10px var(--orange);
    border-radius: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.weather-info {
    color: var(--text-color-medium);
    font-weight: 600;
}

.weather-five-day-name {
    color: var(--dark-rust);
}

.five-day {
    background-image: var(--orange-gradient);
    border-radius: 5px;
    color: var(--text-color-light);
    font-size: 15px;
    font-weight: 600;
}

.hide {
    display: none;
}

/* media responsive - tablet and smaller computer screens */
@media screen and (max-width: 1240px) {
    #hero-text {
        font-size: 80px;
    }
}

/* media responsive - phone */
@media screen and (max-width: 735px) {
    #hero-text {
        font-size: 60px;
    }
}